absl-py==1.4.0
albumentations==1.3.1
alembic==1.13.1
altair==4.1.0
array-record==0.5.0
arrow==1.3.0
astunparse==1.6.3
async-generator==1.10
attrs==23.2.0
baukit @ git+https://github.com/davidbau/baukit@5e23007c02fd58f063200c5dc9033e90f092630d
blinker==1.4
branca==0.7.0
brotlipy==0.7.0
cachetools==5.3.2
certipy==0.1.3
colorama==0.4.6
conda==4.10.2
cycler==0.10.0
cytoolz==0.11.0
datascience==0.17.6
diffusers==0.24.0
dm-tree==0.1.8
dpkt==1.9.8
etils==1.5.2
exceptiongroup==1.2.0
fastjsonschema==2.19.1
filelock==3.9.0
flatbuffers==23.5.26
folium==0.15.1
fqdn==1.5.1
fsspec==2024.2.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.41
gmpy2==2.1.0b5
google-auth==2.26.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
GPUtil==1.4.0
grpcio==1.60.0
HeapDict==1.0.1
huggingface-hub==0.20.3
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
inquirerpy==0.3.4
install==1.3.5
ipython-genutils==0.2.0
isoduration==20.11.0
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.12.1




jupyter-server-mathjax==0.2.6
jupyter-server-terminals==0.5.1
jupyterlab-fasta==3.3.0
jupyterlab-geojson==3.4.0

jupyterlab-github==3.0.1
jupyterlab-latex==3.1.0
jupyterlab-pullrequests==3.0.2
keras==2.13.1
libclang==16.0.6
llvmlite==0.36.0
locket==0.2.0
Markdown==3.5.2
MarkupSafe==2.1.3
mistune==2.0.5


nbdime==3.2.1

nbgitpuller @ git+https://github.com/data-8/gitautosync@5e4a1e3149e4dddb9dbd389d0fa6d0fad51cded5

nbresuse @ git+https://github.com/ucsd-ets/nbresuse.git@098babde742a868d3e3be032c24746b43a81dad7
nltk==3.8.1
nose==1.3.7
numpy==1.22.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.6.0.163
opencv-contrib-python-headless==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.8.1.78
opt-einsum==3.3.0
overrides==7.4.0
packaging==23.2
pamela==1.0.0
pandas==2.0.3
pandocfilters==1.4.2
patsy==0.5.6
pfzy==0.3.4
Pillow==9.3.0
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.3.0
promise==2.3
protobuf==3.20.3
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycurl==7.43.0.6
pyparsing==2.4.7
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pytest==7.4.4
python-editor==1.0.4
python-json-logger==2.0.7
PyYAML==5.4.1
pyzmq==25.1.2
qudida==0.0.4
rapidfuzz==3.6.1
referencing==0.32.1
regex==2023.12.25
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
rsa==4.9
safetensors==0.4.2
scapy==2.5.0
scikit-image==0.18.2
Send2Trash==1.8.2
simplegeneric==0.8.1
smmap==5.0.1
statsmodels==0.14.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-datasets==4.9.3
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.35.0
tensorflow-metadata==1.14.0
tensorrt==8.5.3.1
termcolor==2.4.0
timeout-decorator==0.5.0
timm==0.9.12
tinycss2==1.2.1
tokenizers==0.15.1
toml==0.10.2
tomli==2.0.1
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
torchvision==0.16.2+cu118
tornado==6.4
transformers==4.37.2
triton==2.1.0
types-python-dateutil==2.8.19.20240106
typing-extensions==4.5.0
tzdata==2023.4
uri-template==1.3.0
webcolors==1.13
webencodings==0.5.1
werkzeug==3.0.1
wrapt==1.16.0
xyzservices==2023.10.1
zict==2.0.0
